.book-page-title{
 font-size: 20px;
 font-weight: 600;
}

.book-history{
    margin-top: 2%;
    display: flex;
    justify-content: left;
    align-items: left;
}

.arrow{
    padding: 2%;
}

















































