.custom-button {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #794787;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

.custom-button:hover{
    background-color:#663a72 ;
}
  
.custom-button.login {
    width: 50%;
}

.custom-button.logout{
    margin-top: 50%;
    margin-left: 30%;
} 
