.custom-button {
  
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #794787;
    border: none;
    border-radius: 20px;

    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* .custom-button:hover {
    background-color: #ffffff;
    color: black;
  }
   */

  
  .custom-button.login {
    
    width: 50%;


  }

  .custom-button.logout{
  
  width: 50%;
  margin-top: 140% ;
  margin-left: 22%

} 