
.category-page {
  padding: 50px;
}

.edit-btn, .delete-btn {
  background-color: #9176c5;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}

.edit-btn:hover, .delete-btn:hover {
  background-color: #8057af; 
}

.delete-btn {
  background-color: #ff5757;
}

.delete-btn:hover {
  background-color: #e34e4e; 
}

.add-category{
  position: absolute;
  left: 81%;
}