.header-wrapper {
    display: flex;
    background-color: #ebe2ed;
    justify-content:space-between;
    align-items: center;
    padding-left: 15px;
    padding: 0.8%;
    border-bottom: 1px solid #c28cd1;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
}
  
.header-title {
    position: absolute;
    left: 20%;
    font-size: 25px;
    color: #6621BA;

}
  
.header-right-section {
    display: flex;
    align-items: center;
    padding-right: 1.8%;
    gap: 35px;
}
  
.header-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(153, 153, 153);

}
  
.header-profile-name {
    display: none;
    position: absolute;
    top: 11%;
    right: 1%;
    background-color: #F1EAF3; 
    color: purple;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    white-space: nowrap;
    border: 1px solid rgb(208, 202, 202);
}
  
.header-profile-section:hover .header-profile-name {
    display: block;
}

.logo-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}

.logo-name{
  font-size: 20px;
  font-weight: 600;
  color: #6621BA;
}

.logo-img{
  width: 40px;
  height: 40px;
}

@media only screen and (max-width: 768px) {
  .header-wrapper {
      padding: 0px;
  }
  .logo-div{
      flex-direction: column;
      padding-left: 0%;
  }
  .header-right-section{
    padding-right: 4%;
  }

}