
.header-wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 15px;
    border-bottom: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .header-title {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
padding-right:54.1% ;

  }
  
  .header-right-section {
    display: flex;
    align-items: center;
    padding-right: 3%;
    gap: 35px;
  }
  

  .header-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgb(191, 191, 191);

  }
  


  .header-profile-name {
    display: none;
    position: absolute;
    top: 12%;
    background-color: #F1EAF3; 
    color: purple;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 15px;
    white-space: nowrap;
  }
  
  .header-profile-section:hover .header-profile-name {
    display: block;
  }

  .logo-div{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-left: 2%;

  }

  .logo-name{
font-size: 20px;
font-weight: 600;
color: #6621BA;
  }

.logo-img{
  width: 40px;
  height: 40px;
}