.dashboard-hoc-container {
    display: grid;
    grid-template-columns: 17% 83%;
}

.dashboard-hoc-right-container{
    border-radius: 5px;
}

.dashboard-hoc-full-container {
    width: 100%;
    padding: 20px;
  }

@media only screen and (max-width: 768px) {
    .dashboard-hoc-container {
        grid-template-columns: 15% 85%;
    }

}