.issuance-page{
    padding: 2%;
}

.search{
    position: relative;
    right: 7.8%
}

@media only screen and (max-width: 768px) {
    .issuance-page {
        position: relative;
        font-size: 15px;
        padding: 20px; 
        overflow-x: auto;

    }
    .table-container {
        width: 150%; 
        padding: 15px;
        margin-left: 7%;
    }
    .table-component {
        overflow-x: auto; 
    }
      
    .search {
        margin-top: 10px; 
    }
}