.table-container {
    width: 70%;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
  }
  
  .table-component {
    width: 70%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    color: #333; /* Dark text color for readability */
  }
  
  .table-component th,
  .table-component td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .table-component th {
    background-color: #d1b3ff; /* Slightly darker purple for headers */
    color: #4b0082; /* Indigo text color for headers */
    font-weight: bold;
    border-bottom: 2px solid #4b0082;
  }
  
  .table-component td {
    /* background-color: #ffffff;  */
    border-bottom: 1px solid #ddd; /* Light border between rows */
    border-radius: 5px; /* Rounded corners for table cells */
  }
  
  .table-component tr:nth-child(even) td {
    background-color: #f9f2ff; /* Light purple for alternate rows */
  }
  
  .table-component tr:hover td {
    background-color: #e0ccff; /* Slightly darker purple on hover */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  /* .table-component button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #4b0082; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .table-component button:hover {
    background-color: #6a0dad;
  }
  
  .table-component button:focus {
    outline: none;
  }
   */